@media screen and (max-width: 1495px) {
    .sizeLien {
        width: 130px;
        height: 99px;
    }
    .sizeLien12 {
        margin-left: 35%;
    }
    .cubeDetailsHebergements {
        min-height: 150px;
    }
    .blocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
    .blocPopulaires {
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
    #hebergements {
        flex-direction: column-reverse;
    }
 }

 @media screen and (max-width: 1295px) {
    .sizeLien12 {
        margin-left: 35%;
    }
    .cubeDetailsHebergements {
        min-height: 150px;
    }
    .sizeHebergements {
        min-height: auto;
        padding: 20px;
    }
    .sizePopulaires {
        min-height: auto;
        padding: 20px; 
    }
    .tabletteSizeTitrePop {
        margin-top: 0;
    }
    .blocPopulaires {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 35px;
    }
    .blocHebergements {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 35px;
    }
}
@media screen and (max-width:900px) {
    
    .mobileFiltreWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtreTexteIcons {
        margin-bottom: 20px;
    }
    #hebergements {
        flex-direction: column-reverse;
    }
    .blocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
    .blocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
}
@media screen and (max-width:770px) {
    .sizeLiens {
        width: 90%;
    }
    .sizeLien12 {
        margin-left: 20%;
    }
    .blocHebergements {
     height: auto;
    }
    .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
    }
    .bloc2 {
    flex-direction: column;
    margin-top: 0;
    }
    .cubeHebergements {
        width: 100%;
        margin-bottom: 50px;
        
    }
    .cubeDetailsHebergements {
        min-height: auto;
    }
    .blocActivites {
        flex-direction: column;
        height: auto;

    }
    .cubeActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites55 {
        width: 100%;
        height: auto;
    }
    .cubeActivites55 {
        margin-bottom: 50px;
    }
    .imgActivites1, 
    .imgActivites2,
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
        height: 200px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }
    .margeBlocFoot1 {
        margin-left: 0;
    }

}
@media screen and (max-width:600px) {
    .sizeLien {
        flex-direction: row;
    } 
    .sizeLien12 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .sizeLienMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
    }
    .sizeLiens {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sizeLienMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    /*.mobileTitreh1 {
        font-size: x-large;
    }*/
    .bordureSearch {
        width: auto;
        border: none;
    }
    .recherche {
        width: 200px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
    }
    .desktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
  }
  .maggFiltre {
      padding-left: 5%;
  }
  .mobileEconomiques {
      margin-right: 5px;
  }
  .mobileFamiliales {
      margin-right: 0;
}
.filtreTexte {
    padding-left: 10px;
    padding-right: 10px;
}
.info {
    padding-left: 5%;
}
.blocPopulaires {
    border-radius: 0;
    padding-right: 20px;
}
.blocHebergements {
    background-color: white;
}
.mobileTitrePara {
    padding-left: 5%;
}
.blocActivites {
    padding: 5%;
    width: 90%;
}
.paddingMain3 {
    padding: 0 3%;
}
.paddingMain {
    padding: 0;
}
  html,body {
      margin: 0;
      padding: 0;
  }
}